.main {
    width: 568px;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.list {
    margin: 0;
    padding: 0;
    max-height: 464px;

    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.item {
    width: 536px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    cursor: pointer;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.counter {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.noIngredient {
    width: 100%;

    box-sizing: border-box;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: #2f2f37;
    min-height: 80px;
}

.noBunsTop {
    composes: noIngredient;
    border-radius: 88px 88px 40px 40px;
}

.noBunsBottom {
    composes: noIngredient;
    border-radius: 40px 40px 88px 88px;
}
