.item {
    width: 272px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    cursor: pointer;
}

.price {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.name {
    text-align: center;
}
